@import "tailwindcss";


@theme {
  --color-primary: #30b3a1;
  --color-secondary: #90d5ff;
  --color-cream: #F8F6F2;
  --color-soft: #f9f4f9;
  
  --shadow-soft: 0 8px 24px rgba(0,0,0,0.05);
  
  --font-inter: Inter, sans-serif;
  --font-grotesk: Space Grotesk, sans-serif;
}

@layer base {
  p {
    @apply wrap-break-word;
  }
}

body {
  @apply bg-soft text-gray-800 scroll-smooth font-inter;
}